/.idea/.gitignore
/cafe-pos-week5/cafe-pos-week2.iml
/.idea/compiler.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/CS4928-CafePOS.iml
/diagramweek5.svg
/.idea/jarRepositories.xml
/java.png
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/cafe-pos-week5/week8diagram.png
